<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IoT Dashboard</title>
</head>
<body>
    <h1>IoT Dashboard</h1>
    <h2>Stations</h2>
    <ul>
        <li><a href="/station/Virtual_Station_1">Virtual Station 1</a></li>
        <li><a href="/station/Virtual_Station_2">Virtual Station 2</a></li>
    </ul>
    <h2>Sensors</h2>
    <ul>
        <li><a href="/sensor/temperature">Temperature</a></li>
        <li><a href="/sensor/humidity">Humidity</a></li>
        <li><a href="/sensor/co2">CO2</a></li>
        <li><a href="/sensor/rain_height">Rain Height</a></li>
        <li><a href="/sensor/wind_direction">Wind Direction</
        </a></li>
        <li><a href="/sensor/wind_intensity">Wind Intensity</a></li>
        </ul>
        
</body>
</html>
        